 * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position:relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.content2 {
    position:relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.content3 {
    position:relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.content4 {
    position:relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.content5 {
    position:relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Adjust the gradient colors */
  color: #fef6f6;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#myBtn:hover {
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* Adjust the hover gradient colors */
  color: black;
}

#instagram {
  height: 42px;
  /* You can add additional styles if needed, such as setting a background color or adjusting padding */
}

#git{
  background-color: #fff;
  border-radius: 6px;
  height: 40px;
}

