body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headline {
    width: 70%;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 1.5em;
}

#channelName {
    width: 20%;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 1.5em;
}

#uploadMedia {
    width: 69%;
    height: 60vh;
    margin: auto;
    background-color: lightgray;
    float: left;
    border-style: dashed;
}

#imginp {
    display: none;
}

label {
    float: left;
    border-radius: 6px;
    border: 6px dashed blue;
    padding: 18.5% 45%;
}

label:hover {
    color: #de0611;
    border: 1px dashed #de0611
}

main {
    padding: 20px;
    background-color: beige;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#Description {
    width: 68%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
}

#ScoreBoard {
    padding: 5%;
    background-color: lightcoral;
    text-align: right;
}

.btn {
    width: 28%;
    display: inline-block;
    border: 1px solid #ff004f;
    padding: 14px 0px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    background: #ff004f;
}
#submittedContent {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 6px;
}